<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ideasfrombrain.search_based_launcher_v2"
    android:versionCode="5"
    android:versionName="1.13" >
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />
    
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<!--  <uses-permission android:name="android.permission.CAMERA" /> -->  

    

	<supports-screens
    	android:largeScreens="true"
    	android:normalScreens="true"
    	android:smallScreens="true"
    	android:anyDensity="true" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="Search based launcher"
        android:theme="@android:style/Theme.NoTitleBar" 
        android:persistent="true" >
        
        <activity
            android:name=".MainActivity"
            android:label="Search based launcher" 
            android:alwaysRetainTaskState="True" 
             android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>

